@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@import './text-editor.css';

@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-main: #24272E;
    --color-main2: #292D36;
    --color-main3: #3D424C;
    --color-main4: #E8DCC7;
    --color-main5: #FEC01A;
    --color-main6: #FFFFFF;
    --color-dashboard: #FBF8F2;
    --color-dashboard2: #F4EDDF;
    --color-istoday: #303030;
    --color-redgoon: #A74A4A;
    --color-redgoon2: #923E3E;
    --color-yellowgoon: #FEC01A;
    --color-recommend: #FAF6EE80;
    --color-yellowpiss: #F5F2ED;

    --color-skillbg: #F9F9F9;
    --color-skilloutline: #CACACA;

    --color-pending: #FFF2D1;
    --color-rejected: #E9D1D1;
    --color-approved: #CADFD9;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
